[workspace]
members = [
    "tree-sitter-reduce",
    "rsreduce",
]

[workspace.dependencies]
anyhow = "1.0"
crossbeam-channel = "0.5.6"
fs_extra = "1.3"
fxhash = "0.2.1"
rand = "0.8.5"
structopt = "0.3.26"
tempfile = "3.3"
tree-sitter-reduce = { path = "./tree-sitter-reduce" }
